<html>
    <head>
        <title>Welcome to Ansible World</title>
    </head>
    <body>
    <h1> NGINX -- properly configured via Ansible</h1>
    <p> If you're reading this, Ansible is kicking ass and taking names ...</p>

    <p>"{{ ansible_managed }}"</p>
    </body>
</html>